{
  "overrides": [
    {
      "files": ["graphql*.d.ts"],
      "plugins": ["@inventi/graphql-codegen"],
      "rules": {
        "@typescript-eslint/naming-convention": "off",
        "@inventi/graphql-codegen/fixer": ["error", []]
      }
    }
  ]
}
