files:
  "/home/ec2-user/.ssh/extra_authorized_keys":
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAgEAuMuASQLABLEVQJKP6wRDWORGOeMCAlvRLhdT25LUbpgT5/EeN+RWUdEIZ14fs0eeGveJvx/pf3x7Xy9pgH5slGtMRkgaVtjA0fHdQm4o0t4/4ZJA4Utd1Dxhuop8gh6AXoUfmdjjYFAuA3v8Fkq//B7U5GOPotmeGnaQBAdmkIRON73LTy5nEthVZ3TBLqfSf3wP1vAUfnA2Lpj+6CEWkFkWlAA8cnGhsBB+67qJYAvp8No8bqyz8vF9on4Weq3JPZ5lLSJEaV1oxtwrA30MEPcMZAbz/d5MTf/UWsuHsmA2GDV/gifETdSZNfeiAgtMPFtifNRpSQO7mWVlRkCPAwOI9Di8xxsKNLy/Px/NkS6gLE+LjYrtK/YPSVnvsagZb2kxBLZpw0FIBkX/2Qe6459yBuNhpvvoK+rEJkNXX6e87DCy/J6mXxqXLSB62vjjPoz2+sixA7UnxsHjIqRzMeT04ona/ztV/8vuZsPrjARKY3foVpdEgcw4Q9ooTmm/Bym/bh5ZfQTfr9rzLTKRz4ni2lchC4I4AKQ77pCZpS9LFHQ+kd1Gu106faJMZKJtEI8IdCPsV3hQASjB+ieln7E0A/BN2sIzSi7Z219rOehADpc1Elh7OmQ99SwvIRDA4wUhshBHjqpJcPEMTbghYMVaRWb88zncL2YbFvpNZbk= Adam@ADAM-NTB%
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvxKH6OXpryG57+Af43O4p49Xa7WDauoBVHQFC7oOcUxjO980EYOt547wS8xNDOkVPZayixrjK1eJjV8DzQQff/t08Bl/VudFJi438+junXipNLUWOoNrsjVwM0A4H3r1BE/AQNu8ytZqt/RZgHqBK28ji88CGit9LE++ii/hYCAn8pNaGngeYIj9IU8PhX/w262vc4GQ70F4erfM8MuEty1YszfxSVCbeNF0s6kXn7SjoAMmX1DA3aUlKkdlNFhZw3xXVAXkdMUJUUHlFGTZdjc30XaEs8RdI10TwZYaf1uAC/vvn6eYiHgqTWKF9p/Gn1bAOdaRWxfTVeA8x3BdN radek@radek-mac
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAar1RoGiarW4rxzopBCc/ou7apIIreskjt7UEGYbjP8 pcernohouz@ntb
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/3DchqBULnnWOQ3zlGCxYVoxto0SVCrAVHkFvMemFLub7l2EUzhhKOhmq1HWIiPuUFLJIBq3o7qFKIDRLnKyWQB/xw4jM8dOjH9DFIw3jZF61l1j/7AXT5v/zsFFjHTsF+8s0ABmwTxnGQJsZyXPCqfe/63P69w6iFOM17Wq4uf8T3e4d+92Qg/qxp/zQjqavlpHAeBIo0yYd1q1Y5xFiPauGDdYFQ6iPVycrzYS8gLzgKsBfcnTkwXpCFnypqQA730SI9mv4jH9iO+CGhS6Tr45vWyrM+reg7ZHTwi+cG+OPBezhDafs7/K80MyuVifF7W+ijXlAwp05M/q6gHur jkondler@ntb

commands:
  "01_append_keys":
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  "99_rm_extra_keys":
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys
